src/routes/(admin)/admin/donantes/xsdong.xsd/xsdong.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="donantes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="donante" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="telefono" type="xs:string"/>
                        </xs:sequence>
                        
                        <xs:attribute name="tipo" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Empresa"/>
                                    <xs:enumeration value="Individual"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>